{% load staticfiles %}
<html>
	<head>
        <title>Feed for the heart&mind
		</title>
		<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog1.css' %}">
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6FKX4Q');</script>
<!-- End Google Tag Manager -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet"> 
		<meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://malene.pythonanywhere.com/motivation/">
        <meta property="og:title" content="Motivational speeches that will definitely impact your life.">
        <meta property="og:description" content="Get yourself inspired and motivated with Feed for the heart&mind!">
        <meta property="og:image" content="http://i.piccy.info/i9/e893dbdc14bdafc08ed40ad41d67f023/1480795609/161701/1096133/snippet.jpg">
    </head>
    <body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6FKX4Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="page-header">
		<!--{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %} -->
        <h1><a href="/">Feed for the heart & mind</a></h1>
    </div>
	
	<div class="title">
		<p>Four incredible motivational speeches that will definitely impact your life.</p>
	</div>
	<div class="block">
		<div class="video">
			<div class="title_speech">
				<a href="/motivation/1">Rise and shine</a>
			</div>
			<div class="intrinsic-container">
				<iframe height="300" width="550" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/113640088&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="line">
				<a class="btn-main" href="/motivation/1">open speech</a>
			</div>
			<div class="subs">
Rise and shine.<br>
6am and your hand can't make it to the alarm clock before the voices in your head start telling you that it's too early, too dark, and too cold to get out of a bed.
<br>Aching muscles lie still in rebellion, pretending not to hear your brain commanding them to move.
<br>A legion of voices are shouting their unanimous permission for you to hit the snooze button and go back to dreamland, but you didn't ask their opinion.
<br>The voice you've chosen to listen to is one of defiance.
A voice that's says there was a reason you set that alarm in the first place. So sit up, put your feet on the floor, and don't look back because we've got work to do.
<br><br>Welcome to The Grind!
<br>For what is each day but a series of conflicts between the right way and the easy way. 10,000 streams fan out like a river delta before you, each one promising the path of least resistance. Thing is, you're headed upstream.
And when you make that choice, when you decide to turn your back on what's comfortable and what's safe and what some would call "common sense", well that's day 1.
From there it only gets tougher.
So just make sure this is something you want.
Because the easy way out will always be there, ready to wash you away, all you have to do is pick up your feet.
<br><br>But you aren't going to, are you?
<br>With each step comes the decision to take another.
You're on your way now. But this is no time to dwell on how far you've come.
You're in a fight against an opponent you can't see, but oh, you can feel him on your heels, can't you?
Feel him breathing down your neck.
You know what that is? That's you..
Your fears, your doubts and insecurities all lined up like a firing squad ready to shoot you out of the sky.
<br>But don't lose heart.
While they aren't easily defeated, they are far from invincible.
Remember this is The Grind.
The Battle Royale between you and your mind, your body and the devil on your shoulder who's telling you that this is just a game, this is just a waste of time, your opponents are stronger than you.
Drown out the voice of uncertainty with the sound of your own heartbeat.
Burn away your self doubt with the fire that's beneath you.
<br>Remember what you're fighting for and never forget that momentum is a cruel mistress.
She can turn on a dime with the smallest mistake. She is ever searching for that weak place in your armor, that one tiny thing you forgot to prepare for,
<br>So as long as the devil is hiding the details, the question remains, "is that all you got?", "are you sure?" ..
and when the answer is "yes", that you've done all you can to prepare yourself for battle. THEN it's time to go forth and boldly face your enemy, the enemy within.
Only now you must take that fight into the open, into hostile territory.
<br>You're a lion in a field of lions.
All hunting the same elusive prey with a desperate starvation that says VICTORY is the only thing that can keep you alive.
<br>So believe that voice that says "you CAN run a little faster" and that "you CAN throw a little harder" and for you, the laws of physics are merely a suggestion.
<br>Luck is the last dying wish of those who wanna believe that winning can happen by accident, sweat on the other hand is for those who know it's a choice, so decide now because destiny waits for no man. And when your time comes and a thousand different voices are trying to tell you you're not ready for it, listen instead for that lone voice in decent the one that says you are ready, you are prepared, it's all up to you now.
<br>So rise and shine.
			</div>
		</div>
		
		
		<div class="video">
			<div class="title_speech">
				<a href="/motivation/3">One Day It Will Be Over </a>
			</div>
			<div class="intrinsic-container">
				<iframe width="550" height="300" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213179496&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="line">
				<a class="btn-main" href="/motivation/3">open speech</a>
			</div>
			<div class="subs">
I wish I didn't take life so seriously.. I wish I didn't take life so seriously.. I wish I didn't take life so seriously.. <br>
I wish I lived more..<br>
I wish I gave more happiness to my family..<br>
I wish I knew how precious life was.. How fleeting.. How special and at the same time fragile & insignificant..

<p>I wish I didn't give up on my dream so easy..<br>
One Day Your Life Will Flash Before Your Eyes, Make Sure It''s Worth Watching..<br>
When we look back on our life..<br>
In our last breaths..<br>
We will all wonder..<br>
Did my life mean anything.</p>

Did my life mean anything to this world..<br>
Was I loved? Did I have an impact on anyone else's life. Did I matter..<br>

We won't be worried about our bills,<br>
We won't be worried about our hair,<br>
We certainly won't care about our favourite tv show..<br>
We won't spare a second thought for others opinions and judgements..<br>

<p>DID. I. MATTER..</p>

Before you reach that last breath,<br>
Today might be the time to make a change..<br>

<p>Make your life matter!<br>
One Day It will all be over.<br>
There will be 2 dates either side of a dash..<br>
Make Sure That dash is not empty.<br>
Make Sure it is full of LIFE.. full of LIVING.</p>

<p>Oscar Wilde Once Said "To live is the rarest thing in the world. Most people exist, that is all."<br>
And he was right.<br>
Don't live like everyone else.. Existing..<br>
Be extraordinary.<br>
LIVE every moment.. With Passion & Wonder..<br>
Don't take anything or anyone for granted!</p>

<p>What is important to you?<br>
What dreams do you have..<br>
GO GET THEM!<br>
What are you waiting for ?!<br>
You only have ONE SHOT.<br>
If you miss the target at-least you will live with pride knowing you have no regrets!</p>

Who do you love? Who has loved you?<br>
Tell them.. Tell Them Now. You never know when it will be your last chance..<br>
Don't take this magical thing called LIFE for granted..<br>

<p>Keep your head when everyone else is losing theirs,<br>
Trust yourself when everyone else doubts you.<br>
Take pride when the haters appear.<br>
Master your dreams when all others give up on theirs.<br>
Be the Captain when everyone else is content being the crew,<br>
Be the lion when all others are playing sheep,<br>
Be the leader when all others are following.</p>

Live Each day as if it may be your last on earth.<br>
It may be..

<p>Leave Your Legacy.</p>
			</div>
		</div>

	
		<div class="video">
			<div class="title_speech">
				<a href="/motivation/2">Win At All Costs</a>
			</div>
			<div class="intrinsic-container">
				<iframe width="550" height="300" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/225909977&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="line">
				<a class="btn-main" href="/motivation/2">open speech</a>
			</div>
			<div class="subs">
Winning is simply a mindset...<br>
A mindset however, that is only developed by outstanding individuals.<br>
IT'S NOT ABOUT TALENT.<br>
IT'S ABOUT EFFORT!<br>
Effort will get you the win when talent is having a rest day,<br>
Effort will drive you home when everyone expects you to give up,<br>
Effort will drag you from the canvas when you have been knocked out by Life!<br>

<p>Winning is not some special reward only reserved for the LUCKY among us.</p>
If you ask all the failures they will tell you it is luck, but it's not.<br>
Winning is a reward you receive when you have put in the hard work, when no one is watching.<br>
Winning is for champion attitudes and champion hearts.<br> 

<p>If you throw me to the wolves ?KNOW, that I will return leading the pack!</p>

<p>It only takes one moment to DECIDE you are going to be a winner.</p>
One moment is all it takes.<br>
ONE MOMENT TO SAY NO.<br>
TO SAY NEVER AGAIN.<br>

<p>NEVER AGAIN WILL I SETTLE</p>
NEVER AGAIN WILL I ACCEPT ANYTHING BUT FIRST PLACE.<br>

<p>ONE MOMENT TO BE STRONG.</p>
ONE MOMENT TO SEPARATE MYSELF FROM THE REST.<br>
WIN. AT ALL COSTS.<br>

<p>Winning is simply a mindset...</p>
A mindset however, that is only developed by outstanding individuals! <br>

<p>Outwork your competition.</p>
If you outwork your opponent, day in and day out, you WILL BEAT him come game day.<br>
There is no question??<br>

<p>But you have to have the commitment and discipline to be better day in and day out.</p>
Always giving more than your opponent,<br>
One more rep, One more set, One more mile!<br>
That is what it takes to get THE EDGE.<br>

<p>Winning is what happens when DEEP down inside you got tired of LOSING.</p>
WINNING is what happens when your desire to WIN is greater than your fear of faliure.<br>
WINNING is what happens when your WHY is bigger than your opponents why.<br>
When your hunger is greater.<br>
When your soul says NO! I won't TAKE SECOND ANYMORE!<br>
NO LONGER WILL I SETTLE!<br>
I DESERVE FIRST, FIRST IS MINE!<br>
AND I WILL TAKE WHAT IS MINE!<br>
WIN. AT ALL COSTS!<br>

<p>Sometimes it's gonna hurt.<br>
Sometimes it might even seem impossible.<br>
But remember : it is only impossible if you give up.<br>
If you stay in the game, hang in there, give yourself a shot.. It is possible.<br>
Make sure your opponent knows you are READY FOR WAR.<br>
Look him in the eyes and make sure he knows he won't stop you.<br>
Look him in the eyes and you will see his fear.<br>
Because he knows he's not ready for you. </p>
NOT TODAY<br>
THIS IS YOUR TIME<br>
REFUSE TO GIVE UP<br>
NEVER SETTLE<br>
AND WIN.. AT ALL COSTS!<br>
			</div>
		</div>	
	

		<div class="video">
			<div class="title_speech" id="title_sp_color">Change your attitude</div>
			<div class="intrinsic-container">
				<iframe src="https://www.youtube.com/embed/Xsm6F6bqSCk" width="560" height="315"  frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="line">
				<div class="hint">.</div>
			</div>
			<div class="subs-hint">
				<b>Hint:</b>  You can turn on subtitles in video settings.
			</div>
			
		</div>	
	
	</div>

	
	<div class="comm">  
	<div id="disqus_thread"></div>
	<script>
	
	/**
				<div class="hint">.</div>
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable

	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/


	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//http-malene-pythonanywhere-com.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	
	<div class="footer">
		<ul class="list-unstyled">
			<li id="contact">
				contact me
			</li>
			<li id="Alina">
			<a href="https://www.facebook.com/alia.malanka"><img id="fb" src="{% static 'fb.png' %}"></a>
			Alina
			</li>
		</ul>
	</div>	
	</body>
</html>