{% extends 'blog1/base1.html' %}
{% load staticfiles %}
{% block content %}
	<head>
        <title>Motivational speech</title>
		<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'blog1.css' %}">
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6FKX4Q');</script>
<!-- End Google Tag Manager -->
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet"> 
		<meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://malene.pythonanywhere.com/motivation/3">
        <meta property="og:title" content="One Day It Will Be Over">
        <meta property="og:description" content="I wish I didn't take life so seriously.. I wish I lived more. I wish I gave more happiness to my family. I wish I knew how precious life was.. How fleeting.. How special and at the same time fragile & insignificant.. (Get yourself inspired and motivated with Feed for the heart&mind!)">
        <meta property="og:image" content="http://i.piccy.info/i9/ab66e574ffa93b4284818caeab61b247/1480795816/111432/1096133/motivational3.jpg">
	</head>
	
	<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6FKX4Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="large">
		<div class="intrinsic-container container_for_spec_sub">">
			<iframe height="550" width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213179496&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
		<div class="subs_motivation">
I wish I didn't take life so seriously.. I wish I didn't take life so seriously.. I wish I didn't take life so seriously.. <br>
I wish I lived more..<br>
I wish I gave more happiness to my family..<br>
I wish I knew how precious life was.. How fleeting.. How special and at the same time fragile & insignificant..

<p>I wish I didn't give up on my dream so easy..<br>
One Day Your Life Will Flash Before Your Eyes, Make Sure It''s Worth Watching..<br>
When we look back on our life..<br>
In our last breaths..<br>
We will all wonder..<br>
Did my life mean anything.</p>

Did my life mean anything to this world..<br>
Was I loved? Did I have an impact on anyone else's life. Did I matter..<br>

We won't be worried about our bills,<br>
We won't be worried about our hair,<br>
We certainly won't care about our favourite tv show..<br>
We won't spare a second thought for others opinions and judgements..<br>

<p>DID. I. MATTER..</p>

Before you reach that last breath,<br>
Today might be the time to make a change..<br>

<p>Make your life matter!<br>
One Day It will all be over.<br>
There will be 2 dates either side of a dash..<br>
Make Sure That dash is not empty.<br>
Make Sure it is full of LIFE.. full of LIVING.</p>

<p>Oscar Wilde Once Said "To live is the rarest thing in the world. Most people exist, that is all."<br>
And he was right.<br>
Don't live like everyone else.. Existing..<br>
Be extraordinary.<br>
LIVE every moment.. With Passion & Wonder..<br>
Don't take anything or anyone for granted!</p>

<p>What is important to you?<br>
What dreams do you have..<br>
GO GET THEM!<br>
What are you waiting for ?!<br>
You only have ONE SHOT.<br>
If you miss the target at-least you will live with pride knowing you have no regrets!</p>

Who do you love? Who has loved you?<br>
Tell them.. Tell Them Now. You never know when it will be your last chance..<br>
Don't take this magical thing called LIFE for granted..<br>

<p>Keep your head when everyone else is losing theirs,<br>
Trust yourself when everyone else doubts you.<br>
Take pride when the haters appear.<br>
Master your dreams when all others give up on theirs.<br>
Be the Captain when everyone else is content being the crew,<br>
Be the lion when all others are playing sheep,<br>
Be the leader when all others are following.</p>

Live Each day as if it may be your last on earth.<br>
It may be..

<p>Leave Your Legacy.</p>
		</div>
	</div>
	<div class="btn-back">
		<a href="/motivation/">go back to speeches</a>
	</div>
{% endblock %}