{% extends 'blog1/base1.html' %}
{% load staticfiles %}
{% block content %}
	<head>
        <title>Motivational speech</title>
		<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/blog1.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet"> 
		<meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://malene.pythonanywhere.com/motivation/2">
        <meta property="og:title" content="Win At All Costs">
        <meta property="og:description" content="Great motivational speech! Get yourself inspired and motivated with Feed for the heart&mind.">
        <meta property="og:image" content="http://savepic.ru/12470596.jpg">
	</head>
	<div class="large">
		<div class="sound">
			<iframe class="centered" height="550" width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/225909977&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
		<div class="subs_motivation">
Winning is simply a mindset...<br>
A mindset however, that is only developed by outstanding individuals.<br>
IT'S NOT ABOUT TALENT.<br>
IT'S ABOUT EFFORT!<br>
Effort will get you the win when talent is having a rest day,<br>
Effort will drive you home when everyone expects you to give up,<br>
Effort will drag you from the canvas when you have been knocked out by Life!<br>

<p>Winning is not some special reward only reserved for the LUCKY among us.</p>
If you ask all the failures they will tell you it is luck, but it's not.<br>
Winning is a reward you receive when you have put in the hard work, when no one is watching.<br>
Winning is for champion attitudes and champion hearts.<br> 

<p>If you throw me to the wolves ?KNOW, that I will return leading the pack!</p>

<p>It only takes one moment to DECIDE you are going to be a winner.</p>
One moment is all it takes.<br>
ONE MOMENT TO SAY NO.<br>
TO SAY NEVER AGAIN.<br>

<p>NEVER AGAIN WILL I SETTLE</p>
NEVER AGAIN WILL I ACCEPT ANYTHING BUT FIRST PLACE.<br>

<p>ONE MOMENT TO BE STRONG.</p>
ONE MOMENT TO SEPARATE MYSELF FROM THE REST.<br>
WIN. AT ALL COSTS.<br>

<p>Winning is simply a mindset...</p>
A mindset however, that is only developed by outstanding individuals! <br>

<p>Outwork your competition.</p>
If you outwork your opponent, day in and day out, you WILL BEAT him come game day.<br>
There is no question??<br>

<p>But you have to have the commitment and discipline to be better day in and day out.</p>
Always giving more than your opponent,<br>
One more rep, One more set, One more mile!<br>
That is what it takes to get THE EDGE.<br>

<p>Winning is what happens when DEEP down inside you got tired of LOSING.</p>
WINNING is what happens when your desire to WIN is greater than your fear of faliure.<br>
WINNING is what happens when your WHY is bigger than your opponents why.<br>
When your hunger is greater.<br>
When your soul says NO! I won't TAKE SECOND ANYMORE!<br>
NO LONGER WILL I SETTLE!<br>
I DESERVE FIRST, FIRST IS MINE!<br>
AND I WILL TAKE WHAT IS MINE!<br>
WIN. AT ALL COSTS!<br>

<p>Sometimes it's gonna hurt.<br>
Sometimes it might even seem impossible.<br>
But remember : it is only impossible if you give up.<br>
If you stay in the game, hang in there, give yourself a shot.. It is possible.<br>
Make sure your opponent knows you are READY FOR WAR.<br>
Look him in the eyes and make sure he knows he won't stop you.<br>
Look him in the eyes and you will see his fear.<br>
Because he knows he's not ready for you. </p>
NOT TODAY<br>
THIS IS YOUR TIME<br>
REFUSE TO GIVE UP<br>
NEVER SETTLE<br>
AND WIN.. AT ALL COSTS!<br>
		</div>
		<a class="btn-back" href="/motivation/">go back to speeches</a>
	</div>
{% endblock %}