{% extends 'blog1/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
		
		<!--
		<p id="some">Some text is needed hear, I see.</p>
		
		<div id="that">
		That's the div
		</div>

		<div class="im">
			<img id="jolan" src="http://fs104.www.ex.ua/show/305076963866/281362487/281362487.jpg?1600"/>
		</div>
		
		<div class="im">
			<img id="girl" src="http://fs104.www.ex.ua/get/305076963866/281362491/ok7zWqibAsw.jpg"/>
		</div>

		http://www.ex.ua/305076963866	
		
		<div id="main">
			That's the main
		</div>	
		
		<img src="http://fs104.www.ex.ua/get/305076963866/281362490/12742767_957262691008942_4080240866834226560_n.jpg"/>
		<img src="http://fs103.www.ex.ua/get/305076963866/281362496/pFDpw8rmmDA.jpg"/>		
		
		<div id="header">
			That's the header
		</div>	
		
		  <table>
			<thead>
			  <tr>
				<th scope="col">Company Name</th>
				<th scope="col">Number of Items to Ship</th>
				<th scope="col">Next Action</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td >Adam's Greenworks</td>
				<td rowspan="2">14</td>
				<td>Package Items</td>
			  </tr>
			  <tr>
				<td>Davie's Burgers</td>
				<td>Send Invoice</td>
			  </tr>
			  <tr>
				<td>Baker's Bike Shop</td>
				<td>3</td>
				<td>Send Invoice</td>
			  </tr>
			  <tr>
				<td>Miss Sally's Southern</td>
				<td colspan="2">4</td>
			  </tr>
			  <tr>
				<td>Summit Resort Rentals</td>
				<td>4</td>
				<td>Ship</td>
			  </tr>
			  <tr>
				<td>Strike Fitness</td>
				<td>1</td>
				<td>Enter Order</td>
			  </tr>
			</tbody>	
			<tfoot>
			  <td>Total</td>
					<td>28</td>
			</tfoot>
		  </table>
		-->
		

				